<!DOCTYPE html>
<html>
  <head>
    <title>Users List</title>
    <link rel="stylesheet" href="static/S3_users.css"/>
  </head>
  <body>
    <center>
      <h1>TEST APP</h1>
      <p>HTML SQLITE PYTHON FLASK</p>
      <table id="demo" style="width:100%">
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Middle Initial</th>
          <th>Username</th>
          <th>Password</th>
        </tr>
        
        {% for u in usr %}
        
        <tr>
          <td>{{ u[0] }}</td>
          <td>{{ u[1] }}</td>
          <td>{{ u[2] }}</td>
          <td>{{ u[3] }}</td>
          <td>{{ u[4] }}</td>
        </tr>

        {% endfor %}
      </table>
    </center>
  </body>
</html>